/*Removes all margins from 
the other elements */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
}

/* Helps with knowing what 
area is what */
header {
    display: flex;
    width: 90%;
    /* Header is taller in height */
    height: 10vh;
    margin:auto;
    /* Header is properly aligned */
    align-items: center;
}

.logo-container, .nav-links, .cart {
    display: flex;
}


 .logo-container  {
     /* Flex of 1 takes up all space in div class */
     flex: 1;
 }

.logo {
    font-weight: 400;
}


 nav {
     flex: 2;
 }

 /* Removes bullet points
 and spaces each URL link */
.nav-links {
    justify-content: space-around;
    list-style: none;
}

/* Removes underline */
.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: underline;
}

 .cart {
     
     flex: 1;
 }