/*Removes all margins from 
the other elements */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;
}

/* Adding background colour
helps to know which section 
is what */
header {
    display: flex;
    width: 90%;
    /* Header is taller in height */
    height: 10vh;
    margin:auto;
    /* Header is properly aligned */
    align-items: center;
}

.logo-container, .nav-links, .cart {
    display: flex;
}


 .logo-container  {
     /* Flex of 1 takes up all space in div class */
     flex: 1;
 }

.logo {
    font-weight: 400;
}


 nav {
     flex: 2;
 }

 /* Removes bullet points
 and spaces each URL link */
.nav-links {
    justify-content: space-around;
    list-style: none;
}

/* Removes underline */
.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: underline;
}

 .cart {   
     flex: 1;
     /* Cart icon moved to right edge of page */
     justify-content: flex-end;
 } 

 .presentation {
     display: flex;
     width: 90%;
     margin: auto;
     min-height: 80vh;
     align-items: center;
 }

.introduction {
    flex: 1;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    /* Affects colour of laptop description text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}

.cta {
    padding: 50px 0px 0px 0px;
}

.cta-select {
    border: 2px solid #c36cbb;
    background: transparent;
    color:#c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.cta-add {
    background: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: none;
    color: white;
    /* Adds space between 14-inch and Add to Cart */
    margin: 30px 30px 0px 30px;
}

.cover {
    flex: 1;
    /* Adds slight shadow underneath laptop */
    filter: drop-shadow(0px 5px 3px black);
    height: 60vh ;

}

 /* Sets laptop image size */
 .cover img {
     height: 100%;
     /* Animation time set 1.5 seconds */
     animation: drop 1.5s;
 }

 .big-circle {
     position: absolute;
     top: 0px;
     right: 0px;
     /* Moves circle behind laptop image */
     z-index: -1;
     opacity: 0.5;
     height: 80%;
 }

 /* Moves medium-circle opposite
 the medium circle */
 .medium-circle {
     position: absolute;
     top: 30%;
     right: 30%;
     z-index: -1;
     height: 60%;
     opacity: 0.4;
 }

 .small-circle {
     position: absolute;
     bottom: 0%;
     left: 20%;
     z-index: -1;
 }

 .laptop-select{
     width: 15%;
     display: flex;
     justify-content: space-around;
     position: absolute;
     right: 20%;
    
 }

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Makes site responsive on phones */
@media screen and (max-width: 1024px) {
    .presentation {
        flex-direction: column;
    }
    .introduction {
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1{
        font-size: 30px;
    }
    .intro-text p{
        font-size: 18px;
    }
    .cta{
        padding: 10px 0px 0px 0px;
    }
    .laptop-select {
        bottom: 5%;
        width: 50%;
        right: 50%;
        transform: translate(50%, 5%);
    }
    .cover img{
        height: 80%;

    }
    .small-circle,
    .medium-circle,
     .big-circle {
        opacity: 0.2;
    }
}

@media screen and (max-width: 360xp){

}